.quire-splash .quire-page__header .hero-body .quire-page__header__title  {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.15;
    margin: 2rem 0;
}
.quire-splash .quire-page__header .hero-body .quire-page__header__contributor  {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.15;
    margin: 3rem 0;
}
.quire-copyright .copyright__publisher-logo {
    height: 6em;
    max-width: 100%;
}
.quire-cover__hero .title {
    font-size: 5em;
}
.quire-cover__hero .subtitle {
    font-size: 0.5em;
}
.quire-cover__hero .contributor {
    font-size: 1.5em;
}